* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-primary-color: #23a6f0;
  --color-secondary-color-1: #40bb15;
  --color-secondary-color-2: #3c403d;
  --color-light-text-color:#fff;
  --color-background-gradient-1: linear-gradient(90deg #d71489, #004788);
  --color-text-color: #252b42;
  --color-hover-color: #2a7cc7;
  --color-disable-element-color: #8ec2d2;
  --color-muted-color: #bdbdbd;
  --color-sucess-color: #2dc071;
  --color-alert-color: #e77c40;
  --color-danger-color: #e74040;
  --color-second-text: #737373;

  --font-size-h1: 58px;
  --font-size--h2: 40px;
  --font-size--h3: 24px;
  --font-size--h4: 20px;
  --font-size--h5: 16px;
  --font-size--h6: 14px;
  --font-size--btn-text: 14px;
  --font-size--mobile-menu: 30px;
  --font-size--paragraph: 14px;
  --font-size--list: 20px;
  --font-size--link: 14px;

  --font-weight-h1:800;
  --font-weight-h2:700;
  --font-weight-h3:700;
  --font-weight-h4:500;
  --font-weight-h5:700;
  --font-weight-h6:600;
  --font-weight-btn-text:700;
  --font-weight-mobile-menu:400;
  --font-weight-paragraph:500;
  --font-weight-list:400;
  --font-weight-link:600;

  --font-line-height-h1:80;
  --font-line-height-h2:40;
  --font-line-height-h3:24;
  --font-line-height-h4:20;
  --font-line-height-h5:16;
  --font-line-height-h6:14;
  --font-line-height-btn-text:14;
  --font-line-height-mobile-menu:30;
  --font-line-height-paragraph:14;
  --font-line-height-list:20;
  --font-line-height-link:14;
}
