section{
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 112px 195px;
}

.section-about-us-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.section-about-us-text h2{
    color: var(--color-text-color);
    font-size: var(--font-size--h2);
}

.section-about-us-text p{
    color: var(--color-second-text);
    font-size: var(--font-size--paragraph);
}

.section-about-us-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.section-about-us-hero-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 356px;
}

.section-about-us-img img{
}

.section-about-us-hero-text2 h3{ 
    font-size: var(--font-size--h3);
    color: var(--color-text-color);
}

.section-about-us-hero-text2 p{
    font-size: var(--font-size--paragraph);
    color: var(--color-second-text);
}

.section-about-us-msgs{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.section-about-us-msg{
    display: flex;
    text-align: start;
    align-items: start;
    gap: 20px;
}

.section-about-us-msg-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.section-about-us-msg-text h4{
    color: var(--color-text-color);
    font-size: var(--font-size--h5);
}

.section-about-us-msg-text p{
    color: var(--color-second-text);
    font-size: var(--font-size--h6);
}